groq
langchain
streamlit
python-dotenv
pyPDF2
langchain_google_genai
pymupdf

unstructured
pytesseract
docx2txt
tesseract
tf-keras

flask
gunicorn
langchain-community
langchain-groq
sentence-transformers
faiss-cpu
python-docx
pdf2image
 